<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>Blog 316</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Accueil</h1>
            <p class="lead">Bienvenue sur notre Blog !</p>
            <hr class="my-4">
        </div>
    </body>
</html>