{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <h1>Actualités</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.description }}</td>
                <td>
                    <a href="{{ path('app_news_show', {'id': news.id}) }}">Lire</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
