<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4"><a href="/">Acceuil</a></h1>
            <p class="lead">{% block presentation %}{% endblock %}</p>
            <hr class="my-4">
        </div>
        <div>
            <nav>
                {% if app.user %}
                    <div class="mb-3">
                        <a href="{{ path('app_users_show', { 'id': app.user.id }) }}">{{ app.user.username }}</a>
                    </div>
                    <div class="mb-3">
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% else %}
                    <div class="mb-3">
                        <a href="{{ path('app_login') }}">Connexion</a>
                    </div>
                {% endif %}
            </nav>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
